footer
{
    background-color: $mainColor;
    padding:
    {
        top: 15px;
        bottom: 15px;
    };
    p
    {
        color: #FFF;
        text-align: center;
        font:
        {
            weight: 200;
            size: 16px;
        };
        span
        {
            font:
            {
                weight: bold;
            };
        }
        @media #{$mobileScreen}
        {
            &
            {
                width: 50%;
                margin: auto;
            }
        }
    }
}