//- Title Of Website
title PugJs SASS Template 01
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
//- Main CSS File
link(rel="stylesheet" type="text/css" href="../../css/main.css")
//- Render File To All Elements
link(rel="stylesheet" href="../../css/normalize.css")
//- Font Awesome Library
link(rel="stylesheet" type="text/css" href="../../css/all.min.css")
//- Google Fonts
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet")
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Open+Sans:wght@300;500;700&family=Poppins:wght@100;700&family=Roboto:wght@100;300;500&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet")