.banner
{
    img
    {
        display: block;
        width: 100%;
        min-height: 100vh;
    }
    .info
    {
        position: absolute;
        color: #FFF;
        text-align: right;
        margin:
        {
            right: 50px;
        };
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        span
        {
            display: block;
            font-size: 45px;
            font-weight: bold;
        }
        p
        {
            font-size: 16px;
            line-height: 1.5;
        }
        @media #{$mediumScreen}
        {
            &
            {
                text:
                {
                    align: center;
                }
                margin: auto;
                transform: translate(calc(-50% + 15px), -50%);
            }
        }
    }
}